# Oracle Database Credentials
ORACLE_PASSWORD=Oracle_SecurePass#2024
APP_USER=appuser
APP_USER_PASSWORD=AppUser_SecurePass#2024
ORACLE_DATABASE=APPDB

# Oracle Ports
ORACLE_PORT=1521
ORACLE_EM_PORT=5500